@font-face {
  font-family: "cascadia-code";
  src: url("../../assets/fonts/cascadia-code.ttf");
}

$mini-tab: 500px;
$tab: 700px;
$big-tab: 900px;
$desktop: 1100px;

:root {
  --sp: clamp(20px, 5dvw, 10%);
  --txt: #121212;
  --bg: beige;
  --medium: #ccc;
  --tl: teal;

  --error: crimson;
  --correct: goldenrod;
  --active: blue;
}

@mixin df($j: normal, $a: normal, $fl: row, $g: 0) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-flow: $fl;
  gap: $g;
}
@mixin btn($c: var(--txt), $bg: var(--bg)) {
  cursor: pointer;
  background: $bg;
  color: $c;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  @include df(center, center, row, 10px);
  &:hover {
    background: $c;
    border-color: $c;
    color: #fff;
  }
}

@mixin error-msg() {
  font-weight: bold;
  font-size: 13px;
  opacity: 0;
  height: 0;
  transition: all 0.3s;
  @include df(normal, center, row, 10px);
  &::before {
    content: "!";
    border: 1px solid;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(crimson, 0.1);
    @include df(center, center);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "cascadia-code", monospace;
  padding-top: 100px;
}

.loader {
  position: fixed;
  z-index: 8;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: var(--bg);
  display: none;
  &.active {
    @include df(center, center, column, 10px);
  }
  svg {
    width: 50px;
  }
}

header {
  padding: 20px var(--sp);
  background: var(--bg);
  border-bottom: 1px solid var(--medium);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  @include df(normal, normal);
  .wrapper {
    width: 100%;
    @include df(space-between, center, row, 10px);
    @media (min-width: $desktop) {
      max-width: $desktop;
      margin: 0 auto;
    }
  }
  .logo {
    @include df(normal, start, column);
  }
  #ch {
    display: none;
  }
  .overlay {
    position: fixed;
    z-index: 6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.3s;
    transform: translateY(100%);
    background: rgba(#000, 0.3);
  }
  .hamburger {
    transition: all 0.5s;
    border-radius: 2px;
    overflow: hidden;
    @include df(normal, normal, column, 4px);
    span {
      width: 25px;
      height: 3px;
      background: #121212;
    }
  }
  nav {
    border-radius: 10px 10px 0 0;
    padding: 20px var(--sp);
    position: fixed;
    z-index: 7;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: all 0.5s;
    background: var(--txt);
    color: var(--bg);
    @include df(normal, flex-end, column, 20px);
    .close {
      width: 30px;
      height: 30px;
      position: relative;
      transition: all 0.3s;
      @include df(center, center);
      &:hover {
        background: rgba(#ccc, 0.3);
      }
      span {
        width: 25px;
        height: 3px;
        background: var(--bg);
        position: absolute;
        transform: rotate(45deg);
        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
      }
    }
    ul {
      align-self: start;
      @include df(normal, normal, column, 20px);
      li {
        @include df(normal, normal, column, 20px);
        a {
          color: #fff;
          text-decoration: none;
          font-size: 1rem;
          &.active {
            color: var(--bg);
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
      }
    }
  }
  #ch:checked {
    ~ nav {
      transform: translateY(0);
    }
    ~ .hamburger {
      opacity: 0;
    }
    ~ .overlay {
      transform: translateY(0);
      opacity: 1;
    }
  }
  // @media (min-width: $big-tab) {
  //   .overlay,
  //   .hamburger {
  //     display: none;
  //   }
  //   nav {
  //     padding: 0;
  //     position: static;
  //     transform: translateY(0);
  //     transition: all 0.5s;
  //     background: transparent;
  //     color: var(--bg);
  //     @include df(right, center, row, 20px);
  //     .close {
  //       display: none;
  //     }
  //     ul {
  //       @include df(right, center, row, 10px);
  //       li {
  //         a {
  //           font-size: 14px;
  //           padding: 0;
  //           border: none;
  //           color: #000;
  //           &.active {
  //             font-size: inherit;
  //             color: teal;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

main {
  padding: 20px 0;
  @include df(normal, center, column);
  > * {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    max-width: $desktop;
    @include df(normal, normal, column, 20px);
  }
}

form {
  padding: 0 var(--sp);
  @include df(normal, center, column, 20px);
  @media (min-width: $tab) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      button {
        grid-column: 1/-1;
      }
    }
  }
  @media (min-width: $desktop) {
    padding: 0;
  }
  fieldset {
    grid-row: span 2;
    border: 1px solid;
    @include df(normal, normal, column);
    legend {
      margin-left: 10px;
      padding: 0 10px;
      font-size: 14px;
      font-weight: 700;
    }
    .types {
      padding: 20px;
      @include df(normal, normal, column, 15px);
      label {
        text-transform: capitalize;
        border: 1px solid;
        padding: 10px;
        border-radius: 10px;
        background: #fff;
        @include df(normal, center, row, 10px);
        input {
          appearance: none;
          outline: transparent;
          border: 1px solid;
          width: 20px;
          height: 20px;
          background: var(--bg);
          &:checked {
            &::after {
              transition: all 0.3s;
              content: "✓";
              width: 100%;
              height: 100%;
              background: var(--txt);
              color: var(--bg);
              @include df(center, center);
            }
          }
        }
      }
      .error-msg {
        @include error-msg;
      }
    }
    &.error {
      border-color: crimson;
      legend {
        color: crimson;
      }
      .error-msg {
        opacity: 1;
        height: 100%;
        color: crimson;
      }
    }
    &.sash-field {
      background: rgba(#67a32d, 0.1);
      height: 0;
      opacity: 0;
      transition: all 0.5s;
      &.show {
        height: auto;
        opacity: 1;
      }
      .types {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        .error-msg {
          grid-column: span 2;
        }
      }
    }
  }
  .field {
    @include df(normal, normal, column, 5px);
    &__container {
      position: relative;
      @include df(normal, normal, column, 5px);
      label {
        font-size: 13px;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 10px;
        padding: 0 10px;
        background-color: #fff;
        transform: translateY(-50%);
      }
      input {
        font: inherit;
        font-size: 1.5rem;
        font-weight: 700;
        display: block;
        width: 100%;
        padding: 20px 20px 15px 20px;
        border: 1px solid;
        outline: none;
        &:focus {
          border: 1px solid #81068e;
        }
        &:focus ~ label {
          color: #81068e;
        }
      }
    }
    .error-message {
      opacity: 0;
      font-weight: bold;
      font-size: 13px;
      transition: all 0.3s;
      @include df(normal, center, row, 10px);
      &::before {
        content: "!";
        border: 1px solid;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        background: rgba(crimson, 0.1);
        @include df(center, center);
      }
    }
    &.error {
      .field__container {
        label {
          color: crimson;
        }
        input {
          border-color: crimson;
        }
      }
      .error-message {
        opacity: 1;
        color: crimson;
      }
    }
  }
  button {
    @include btn;
    & {
      font-weight: 700;
      padding: 10px;
    }
  }
}

.results {
  margin-top: 20px;
  padding: 20px var(--sp);
  @include df(normal, center, column, 20px);
  @media (min-width: $desktop) {
    padding: 20px 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    td,
    th {
      border: 1px solid;
      padding: 10px;
    }
    thead,
    tfoot {
      background: var(--bg);
      font-weight: bold;
    }
    tr {
      :first-child {
        text-align: left;
      }
      :nth-child(2) {
        text-align: center;
      }
      :nth-child(3) {
        text-align: right;
      }
    }
    tfoot {
      :nth-child(2) {
        text-align: right;
      }
    }
  }
}

.footer {
  margin-top: 50px;
  padding: 20px var(--sp);
  border-top: 1px solid var(--medium);
  background: var(--bg);
  @include df(center, center);
  &__content {
    width: 100%;
    @include df(center, center, column, 10px);
    p {
      @include df(center, center, column, 5px);
      a {
        @include btn;
        & {
          background: #fff;
        }
      }
    }
  }
}
